body {
	font-family: Arial;
	color: #333333;
	margin: 0px;
	font-size: 20px;
}

h1 {
	font-size: 22px;
	margin: 0px;
}

/* Reglas para hipervínculos*/
a {
	text-decoration: none; /* Desactivo las reglas nativas del navegador */
	color: #CCCCCC;
}

/* Creamos una pseudoclase para cuando el usuario interactua */
a:hover {
	color: #FFFFFF;
}

header {
	background-color: #212121;
}