body {
	font-family: Arial;
	color: #333333;
	margin: 0px;
	font-size: 20px;
}

h1 {
	font-size: 22px;
	margin: 0px;
}

/* Reglas para hipervínculos*/
a {
	text-decoration: none; /* Desactivo las reglas nativas del navegador */
	color: #CCCCCC;
}

/* Creamos una pseudoclase para cuando el usuario interactua */
a:hover {
	color: #FFFFFF;
}

#top, 
#content figcaption, 
#copyright {
	background-color: #212121;
}


#top {
	padding: 10px;
	display: flex; /* 3° forma de organizar el menu */
	flex-direction: row; /* los organiza en forma de fila */
	align-items: center; /* Eje X */
	justify-content: flex-start; /* Eje Y */
	border-bottom: solid 1px white/* tipo de borde - grosor - color */
}

#menu {
	list-style: none;
	padding: 0;
	margin: 0;
	color: white;

	overflow: hidden;     /* - El navegador recupera la capacidad de saber cuanto mide de alto cada li y lo agrega al header 
							- Se usa el hidden y no el auto porque no funciona bien en explorer */

	margin: 0 0 0 auto;   /* Si quiero que un elemento no siga el flex, le defino el margin. Arriba derecha abajo izquierda */

	text-align: center;	  /* Para que los botones queden bien centrados */
}

#menu li{
	/* 1° forma de organizar el menu
	display: block; elementos uno debajo de otro (soporta margin y padding)
	display: inline; elementos uno al lado del otro (no soporta margin top ni bot)
	display: inline-block; elementos uno al lado de otro (soporta margin y padding)
	display: none; oculta el elemento completamente de la interfaz hasta que pasa algo (un desplegable) 
	*/

	/* 2° forma de organizar el menu */
	float: left; /* - Para que cada elemento se pegue a la izquierda de su elemento superior (right los mezcla por algún motivo) 
					- Cuando se aplica, el elemento contenedor pierde la capacidad de saber cuánto mide el elemento (sale del header)
					- Se debe agregar la propiedad overflow al ul */


	/* 3° forma de organizar el menu. ver #menu */


	/* 
	width: 100px; /* O el porcentaje del contenedor padre que quiero que ocupen los elementos 
	*/
}

#menu li a {
	display: block;	/* Amplio el margen interno para que sea más facil clickearlo */
	padding: 10px; /* Necesitamos al menos 30 px para que el usuario pueda clickearlo con el dedo */
	font-size:	24px; 
	color: #D9D9D9;
}

#menu li a:hover {
	color: #FFFFFF;
	background-color: #AAAAAA;
}

#content figure {
	margin: 0;
}

#content figure figcaption {
	padding: 10px;
}

#content figure figcaption h2 {
	color: #FFFFFF;
	margin: 0;
	font-size: 36px;
}

#content img {
	display: block; /* transformo la imagen en un elemento de bloque para que cubra toda el area */
	width: 100%; /* siempre usan como escala al contenedor (en este caso el figure) */
}

.noticia {
	border-bottom: solid 1px #CCC; /* Padding y marging engodarn el elemento. el border le come pixeles al elemento */
	display: flex;
	margin: 0 10px; /* si pongo 2 valores, estoy hablando del eje Y y el eje X (se repite arriba/abajo y der/izq) */
	padding: 10px 0; /* Merging empuja del borde para afuera. El padding para adentro (comprime) */
}

.noticia-img, 
.noticia-txt {
	padding: 0 10px;
	box-sizing: border-box; /* esto me permite que elpadding comprima y no engorde al elemento */
}

/*
Con esto le saco la negrita a todos los h
h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}
*/

.noticia-img {
	width: 30%;
}

.noticia-txt {
	width: 70%;
}

#ultimasNoticias .noticia:last-child { /* aplica el estilo al ultimo elemento de la sección. Lo uso para sacarle el broder */
	border: none;
}

#copyright {
	margin: none;
	padding: 10px;
	color: #FFF;
	text-align: center;
}

#tablaPosiciones table {
	border-collapse: collapse;  /* anula el cellpadding y el cellspacing del navegador */
	border: solid 1px #000000;
	margin: auto;
	width: 800px;
}

#tablaPosiciones table tr {
	border: solid 1px #000000;

}

#tablaPosiciones table th {
	background-color: red;
	color: #FFF;
}

#tablaPosiciones table td {
	background-color: #CCC;
	padding: 10px;
}

#tablaPosiciones table td:nth-of-type(odd) { /* para impares */
	text-align: center;
	font-weight: bold;
	font-size: 28px;

}

#tablaPosiciones table td:nth-of-type(even) span { /* para pares */
	color: green;
}

#tablaPosiciones {
	margin-bottom: 10px;
}